.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hello {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: none;
    flex: 1 1;
    text-align: center;
}

.sliding {
    
}