.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hello {
    margin: 0 5em;
    padding: 0;
    overflow-y: auto;
    flex: 1 1;
    text-align: center;
}

.sliding {
    margin: 2em 8em;
}