@value mobileQuery from '../../common/size.css';

.header {
  padding: 1rem 10rem;
  height: 5em;
  transition: all 0.5s ease;
  z-index: 3;
}
.header:hover {
    background-color: rgba(253, 253, 253, 0.5);
}

.logo {
    width: 3em;
    cursor: pointer;
}

.ul {
  display: flex;
  float: right;
  list-style: none;
  padding: 0;
  margin-top: 16px;
}

.li {
  margin-right: 2em;
  position: relative;
}

.li:last-child {
  margin: 0;
}

.sevul {
    display: none;
    list-style: none;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 0;
    width: 80px;
    background-color: rgba(253, 253, 253, 0.5);
    transition: all 0.5s ease;
}

.sevli {
    padding: 6px 0;
}

.button {
  font-size: 0.9rem;
  font-weight: 700;
  background: none;
  color: chocolate;
  outline: 0;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

.btn {
    font-size: 0.7rem;
}

@media screen and (max-width: mobileQuery) {
  .header {
    padding: 1rem 4rem;
  }

  .btn {
    font-size: 0.5rem;
  }
}