@value mobileQuery from '../../common/size.css';

.footer {
    width: 100%;
    border-top: 2px solid lightgray;
    display: flex;
    text-align: start;
    margin-bottom: 2em;
}

.ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    font-size: 15px;
}
  
.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.textlogo {
    margin-top: 2em;
}

.img {
    width: 100px;
}

.foot {
    width: 100%;
    margin: 4em 6em;
}

.login {
    cursor: pointer;
}

.github {
    color: #adadad;
}

@media screen and (max-width: mobileQuery) {
    .foot {
        margin: 0 2em;
    }
    
    .content {
        flex-direction: column;
    }

    .ul, .copyright {
        font-size: 10px;
    }
}