.intro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    overflow-y: auto;
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    margin: 3em 5em;
}