@value mobileQuery from '../../common/size.css';

.button {
    float: right;
    padding: 12px 25px 15px 25px;
    font-size: 13px;
    font-weight: 600;
    font-family: Nanum Gothic,'Nanum Gothic',sans-serif;
    background: #555555;
    border: 1px solid #555555;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: mobileQuery) {
    .button {
        padding: 0 10px;
        font-size: 11px;
        font-weight: 400;
        height: 28px;
    }
}