@value mobileQuery from '../../common/size.css';

.notice {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 5em 0 !important;
}

.hello {
    margin: 0 7em;
    padding: 0;
    overflow-y: auto;
    flex: 1 1;
    text-align: center;
}

.tr1 {
    width: 10%;
}
.tr2 {
    width: 50%;
}
.tr3, .tr4 {
    width: 20%;
}

.table {
    width: 100%;
}

.tablewrap {
    width: 1200px;
    margin: 10em auto;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6e6f71;
    color: #6e6f71;
}

.pagination__link {
    font-weight: bold;
}

.pagination__link_active a {
    color: #fff;
    background: #6e6f71;
}

.pagination__link_disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}

li {
    margin-left: 0.5em;
}

@media screen and (max-width: mobileQuery) {
    .title {
        margin: 3em 0 !important;
        font-size: 15px;
    }

    .hello {
        margin: 0;
    }

    .pagination a {
        padding: 2px 6px;
    }

    .pagination {
        margin: 0;
    }
}

@media screen and (max-width: 1408px) {
    .tablewrap {
        width: 95%;
        margin: 5em auto 10em;
    }
}