@value mobileQuery from '../../common/size.css';

.detail {
    cursor: pointer;
    display: contents;
}

.inline {
    padding: .25em .75em;
    display: inline !important;
}

@media screen and (max-width: mobileQuery) {
    .content, .detail, .inline {
        font-size: 12px;
    }
}