@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Serif KR', serif !important;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
